div{
    border: 1px solid orange;
    width: 100px;
    height: 100px;
    background-color: orange;
    margin-left: 500px;
    margin-top: 200px;

}
/* Default point of transform is center we can change the transform origin using transfom - origin */
/* div:hover{
    
    transform-origin: top right;
    transform: rotate(45deg);

    transition-property: transform;
    transition-duration: 2000ms;

} */

/* Will move along right */
/* div:hover{
    transform: translateX(300px);
    transition-property: transform;
    transition-duration: 2s;

} */

/* Will move along left  */
/* div:hover{
    transform: translateX(-300px);
    transition-property: transform;
    transition-duration: 2s;

} */
/* Will move along down(300px) and up(-300px) */
/* div:hover{
    transform: translateY(300px);
    transition-property: transform;
    transition-duration: 2s;
}*/

    
    /* Will move in both side */
    /* div:hover{
    transform: translate(300px, 400px);
    transition-property: transform;
    transition-duration: 2s;

} */




/* Changing the size */
/* Changing the size along x axis */
/* div:hover{ transform: scaleX(2);
} */

/* Changing the size along y axis */

/* div:hover{
    transform: scaleY(2);
   } */

   /* Changing the size along BOTH THE AXIS axis */

   /* div:hover{
    transform: scale(2, 2);
   } */